.result-display[data-v-7a1d532c]{cursor:pointer;text-align:center;gap:8px;width:100%;display:grid}.result-display strong[data-v-7a1d532c]{color:var(--text-strong);word-break:break-all;font-size:20px}
